* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    max-width: 1000px;
    margin: 50px auto;
}

h1 {
    text-align: center;
    position: relative;
}

h1::before {
    content: "";
    width: 50px;
    left: 471px;
    bottom: -5px;
    position: absolute;
    border: 2px solid #608afe;
}

.comment__list {
    display: flex;
    flex-wrap: wrap;
}

.comment__item {
    display: flex;
    align-items: center;
    max-width: calc(100% / 3);
    padding: 30px;
}

.comment__avatar {
    padding-right: 10px;
}

.comment__avatar img {
    border-radius: 50%;
    width: 70px;
}

.comment__para {
    padding: 0 5px 5px 5px;
}
