.box {
    width: 200px;
    height: 100px;
    background-color: red;
    /* border-radius: 10px 20px 30px 40px;
    border-top-left-radius: ;
    border-top-right-radius: ;
    border-bottom-left-radius: ;
    border-bottom-right-radius: ; */
    border-radius: 50%;
}

.btn {
    background-color: green;
    color: #fff;
    display: block;
    padding: 10px 30px;
    border: none;
    border-radius: 99px;
}

.btn-large {
    padding: 15px 30px;
}
