* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    background-color: rgb(17, 8, 58);
    color: #fff;
    width: 300px;
    height: 200px;
    margin: 30px auto;
    box-shadow: 10px 5px 500px 350px rgb(233, 2, 222);
    text-shadow: 3px 3px 3px red;
}

/* 
box-shadow: đổ bóng cho khối
box-shadow: x-offset y-offset blur spread color
+ x-offset: vị trí bóng theo trục x
+ y-offset: vị trí bóng theo trục y
+ blur: độ nhòe của bóng
+ spread: kích thước của bóng
+ color: màu của bóng

text-shadow: Đổ bóng cho chữ
text-shadow: x-offset y-offset blur color

Buổi sau: 
- Background Gradient: Linear, Radial
- Responsive Web Design

1. Breakpoint là gì? 

2. Các Breakpoint phổ biến

3. Phân biệt Desktop First, Mobile Frist

4. Media Query CSS
=> https://developer.mozilla.org/en-US/docs/Web/CSS/@media

5. Viết Media Query theo Desktop First, Mobile First

6. Nên dùng Desktop First hay Mobile First? Tại sao?
*/
