.box:hover img {
    opacity: 0.5;
    /* filter: grayscale(0.5); */
    /* filter: blur(1px); */
    filter: opacity(0.5);
    filter: grayscale(79%) hue-rotate(12deg) saturate(6%) contrast(712%);
    -webkit-filter: grayscale(79%) hue-rotate(12deg) saturate(6%) contrast(712%);
    -moz-filter: grayscale(79%) hue-rotate(12deg) saturate(6%) contrast(712%);
}

.map iframe {
    width: 100%;
    height: 450px;
    filter: grayscale(1);
}
