* {
    box-sizing: border-box;
}

:root {
    --primary-color: #3d2514;
    --secondary-color: #bf2222;
    --font-AlfaSlabOne: AlfaSlabOne;
    --font-BebasNeue: BebasNeue;
    --font-Montserrat: Montserrat;
}

@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "BebasNeue";
    src: url("../assets/fonts/BebasNeue-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "BebasNeue";
    src: url("../assets/fonts/BebasNeue-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "AlfaSlabOne";
    src: url("../assets/fonts/AlfaSlabOne-Regular.ttf");
    font-weight: 400;
}

body {
    color: #3d2514;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 1.5;
}

.justify-content-center {
    justify-content: center !important;
}

.wrap {
    padding: 50px 0 190px;
}

.toggle-menu {
    display: none;
}

.menu-icon {
    display: none;
}

.banner {
    background: url("./images/header-bg.jpg") no-repeat;
    background-size: cover;
}

.header__address {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.header__nav {
    display: flex;
    justify-content: flex-end;
}

.header__nav ul {
    display: flex;
    column-gap: 50px;
}

.header__nav ul li a {
    display: block;
    padding: 25px 0;
    color: var(--primary-color);
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    font-family: var(--font-BebasNeue);
}

.header__nav ul li a:hover {
    color: #fff;
}

.banner__inner {
    margin-top: 30px;
}

.banner__text {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.banner__text span {
    font-size: 1.47rem;
    font-family: var(--font-BebasNeue);
    padding: 3px 10px;
    align-self: flex-start;
    border: 2px dashed #3d2514;
}

.banner__text h1 {
    font-size: 80px;
}

.banner__text h2 {
    font-size: 56px;
}

.banner__text h1,
.banner__text h2 {
    text-shadow: 4px 4px 0 #fff;
    font-family: var(--font-AlfaSlabOne);
}

.banner__img {
    text-align: right;
    position: relative;
}

.banner__price {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 15%;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 170px;
    background-color: #bf2222;
    border-radius: 50%;
}

.banner__price-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 90%;
    border: 2px dashed #fff;
    border-radius: 50%;
    font-family: var(--font-BebasNeue);
    padding-top: 10px;
    color: #fff;
}

.banner__price-inner div {
    height: 55%;
}

.banner__price-inner div:first-child span:first-child {
    font-size: 68px;
}

.banner__price-inner div:first-child span:last-child {
    font-size: 30px;
}

.banner__price-inner div:last-child span {
    font-size: 32px;
}

.products {
    padding-top: 100px;
    padding-bottom: 30px;
}

.products__title {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.products__title span {
    font-family: var(--font-BebasNeue);
    font-size: 25px;
    padding: 5px 15px;
    color: var(--primary-color);
    background-color: #ffc045;
}

.products__title h2 {
    margin: 15px 0;
    font-size: 50px;
    font-family: var(--font-AlfaSlabOne);
    color: var(--primary-color);
}

.products__title p {
    font-weight: 300;
    margin-bottom: 15px;
    color: var(--primary-color);
    font-family: var(--font-Montserrat);
}

.products__item {
    margin-top: 40px;
    text-align: center;
}

.item__img {
    height: 315px;
    text-align: center;
    margin-bottom: 10px;
}

.item__img:after {
    content: "";
    display: block;
    width: 100%;
    height: 35px;
    background: url("./images/shadow.png") no-repeat center center / contain;
}

.item__img img {
    max-width: 100%;
    height: 100%;
}

.item__info {
    padding-top: 15px;
}

.item__info h3 {
    margin: 15px 0;
}

.item__info h3 a {
    font-size: 37px;
    text-decoration: none;
    color: var(--primary-color);
    font-family: var(--font-BebasNeue);
}

.item__info p {
    font-weight: 300;
    margin-bottom: 15px;
}

.item__info > a {
    padding: 10px 30px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-weight: 500;
    font-family: var(--font-AlfaSlabOne);
    background-color: var(--secondary-color);
}

.item__info > a:hover {
    background-color: #ffc045;
}

.event {
    padding: 30px 0;
}

.event__inner {
    box-shadow: 10px 10px 15px 5px #ccc;
    padding: 20px;
}

.event__inner input {
    display: none;
}

.event__title {
    padding-top: 10%;
    display: flex;
    overflow: hidden;
}

.event__title h3 {
    font-size: 29px;
    font-family: var(--font-BebasNeue);
    color: #3d3d3d;
}
.event__title h2 {
    font-size: 41px;
    font-family: var(--font-AlfaSlabOne);
    color: var(--primary-color);
}

.event__title p {
    margin: 15px 0;
    font-size: 20px;
    font-weight: 100;
}

.event__btn {
    padding-top: 15px;
    display: flex;
    gap: 10px;
}

.event__btn label a {
    width: 13px;
    height: 13px;
    display: inline-block;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
}

.event__btn label a:focus {
    background-color: var(--secondary-color);
}

.event__img img {
    width: 100%;
    height: 100%;
}

.orders {
    background: url("./images/book-bg.png") no-repeat;
    background-size: cover;
    padding: 60px 0;
}

.orders__title {
    text-align: center;
}

.orders__title h3 {
    font-family: var(--font-BebasNeue);
    font-size: 29px;
    margin: 15px 0;
}

.orders__title h2 {
    margin: 15px 0;
    font-size: 50px;
    font-family: var(--font-AlfaSlabOne);
}

.form-center {
    justify-content: center;
}

.gap-input {
    row-gap: 20px;
}

.orders__form {
    padding-bottom: 10%;
}

.orders__form form input {
    padding: 10px 20px;
    border: 1px solid #bdbdbd;
    width: 100%;
    font-size: 1.3rem;
    font-family: BebasNeue, sans-serif;
}

.orders__form form button {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    display: inline-block;
    background: var(--secondary-color);
    color: #fff;
    padding: 10px 30px;
    font-family: var(--font-AlfaSlabOne);
}

.footer {
    margin-bottom: 30px;
}

.footer__inner {
    background: url("./images/footer-bg.jpg") no-repeat;
    background-size: cover;
    color: #fff;
}

.inner__top {
    padding: 10% 20px;
}

.footer__contact {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 100%;
}

.footer__contact p {
    font-size: 1.3rem;
    font-family: var(--font-BebasNeue);
    margin-bottom: 15px;
}

.footer__contact p i {
    width: 30px;
    margin-right: 10px;
}

.inner__bottom {
    padding: 0px 20px 20px;
}

.footer__social {
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
}

.footer__social li a {
    color: #090908;
    background: #fff;
    display: block;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.2rem;
}

@media screen and (max-width: 1199px) {
    .banner {
        margin-top: 140px;
        position: relative;
    }

    .header {
        width: 100%;
        position: absolute;
        top: -11%;
    }
}

@media screen and (max-width: 991px) {
    .header__address {
        justify-content: center;
    }

    .menu-icon {
        font-size: 34px;
        height: 100%;
        margin-left: auto;
        margin-right: 5px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .header__nav {
        opacity: 0;
        top: 120px;
        right: 100%;
        left: -100%;
        width: 100%;
        padding: 25px 40px;
        background-color: rgba(61, 37, 20, 0.8901960784);
        position: absolute;
        transition: all 0.4s linear;
    }

    .header__nav ul {
        width: 100%;
        display: block;
    }

    .header__nav ul li a {
        transition: color 0.2s linear;
        padding: 5px 0;
        color: #fff;
        border-bottom: 1px dotted #fff;
    }

    .toggle-menu:checked ~ .header__nav {
        opacity: 1;
        left: 0;
        right: 0;
    }

    .orders {
        background: none;
    }

    .order-1 {
        order: 1;
    }
    .order-2 {
        order: 2;
    }
    .order-3 {
        order: 3;
    }
}
