* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 400px;
    border: 1px solid red;
    margin: 30px auto;
}

.box {
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: stretch;
    /* gap: 10px 20px; */
    column-gap: 20px;
    row-gap: 10px;
}

.item {
    background-color: green;
    color: #fff;
    /* border: 1px solid #fff; */
    padding: 10px 20px;
}

.item:nth-child(4) {
    display: flex;
    align-items: center;
}
