* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.player {
   max-width: 90%;
   margin: 30px auto;
}

.player .play-btn {
   text-align: center;
   cursor: pointer;
}

.player .play-inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 15px;
}

.progress-bar {
   background: gray;
   height: 10px;
   position: relative;
   width: 100%;
   cursor: pointer;
}

.progress-bar .progress {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   width: 0;
   background: red;
}

.progress-bar .progress span {
   position: absolute;
   right: 0;
   top: 50%;
   width: 13px;
   height: 13px;
   background: blueviolet;
   border-radius: 50%;
   display: block;
   translate: 50% -50%;
}
.tooltips-time {
   position: absolute;
   bottom: 140%;
   left: 0;
   transform: translateX(-50%);
   background-color: #333;
   color: #fff;
   font-size: 14px;
}

.audio {
   display: none;
}
